# EXAMPLE ENV

# > id
PUID=10XX
PGID=10X

# > curl https://ipapi.co/timezone
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Brussels

#NETWORK settings
NET_INT=[NETWORK INTERFACE] #eth0
IP_GAT=[GATEWAY IP]         #192.168.1.1
IP_SUB=[SUBNET]/[CIDR]      #192.168.1.0/24
       
# no | on-failure | always | unless-stopped
# https://docs.docker.com/config/containers/start-containers-automatically/
RESTART_POLICY=unless-stopped

# On Windows set Compose Convert widows paths to enable socket
# COMPOSE_CONVERT_WINDOWS_PATHS=1

DOCKER_SOCKET=/var/run/docker.sock

#############
# PORTAINER #
#############
# Easy Docker container management
# https://github.com/portainer/portainer
PORTAINER_PORT_UI=9100
PORTAINER_PORT_SSL=9101

###########
# PI-HOLE #
###########
PIHOLE_PASS=Password
PIHOLE_IP=[IPADDRESS]
DNS01=1.1.1.1
DNS02=1.0.0.1
PIHOLE_MAC=XX:XX:XX:XX:XX:XX

####################
# UNIFI CONTROLLER #
####################
DB_ADMIN=admin
DB_ADMIN_PASS=admin
DB_USER=unifi
DB_PASS=unifi
DB_NAME=unifi-db
DB_IP=[IPADDRESS] #IP address where the database will run on
UNIFI_IP=[IPADDRESS] #IP address where the unifi controller will run on

############
# MYSQL DB #
############
MYSQL_IP=[IPADDRESS]

############
# LIBRENMS #
############
LIBRENMS_API_KEY #docker run --rm jarischaefer/docker-librenms generate_key
LIBRENMS_ROOT_PASS=password
LIBRENMS_DB_HOST=db
LIBRENMS_DB_NAME=librenms
LIBRENMS_DB_USER=librenms
LIBRENMS_DB_PASS=librenms
LIBRENMS_BASE_URL=http://[IPADDRES]:[PORT]
LIBRENMS_PORT=80
